.home-page-container {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-page-recommend-products {
  width: 100%;
}
.home-page-category-menu {
  width: 100%;
  height: fit-content;
}
.home-page-products {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
}
.home-page-footer {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page-bread-crumbs {
  width: 100%;
  min-height: 28px;
  padding-left: 15px;
  display: flex;
  justify-content: flex-end;
}
