.product-detail-page-container {
  height: 100%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
}

.display-value {
  width: 80%;
  height: 100px;
  padding: 40px;
  overflow: scroll;

  margin-left: auto;
  margin-right: auto;
}

.chapter-container {
  width: 80%;
  height: 400px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
}

.product-detail-card-image {
  display: block;
  max-width: 230px;
  max-height: 400px;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
