.header-bar-logo {
  background-color: red;
  width: 50px;
  height: 30px;
  padding-right: 2.5rem;
}
.header-bar-search {
  width: 100%;
  height: 100%;
}
.header-bar-logo-image {
  background: url(../assets//manga_freedom.png);
  background-repeat: no-repeat;
  background-size: auto;
}
#header-bar-app-bar {
  background-color: #8e3636 !important;
  margin-top: 0px;
  transition: 0.3s;
  margin-bottom: 5px;
}

.header-bar-tab {
  color: white !important;
  font-weight: bold !important;
  font-size: 16px !important;
}
