.header-bar-avatar-icon {
  background: url(../assets/broken_profile.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover;
  width: 56;
  height: 56;
}

.pop-over-container {
  min-width: 260px;
  width: 100%;
}
