.login-dialog-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-in-dialog-layout {
  width: 50%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.log-in-dialog-content {
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
}

.log-in-dialog-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.log-in-form {
  padding: 15px 0px;
}

.log-in-tab {
  width: 50%;
  font-weight: bold;
}

.log-in-text-field-box {
  padding: 30px 15px 10px 15px;
}

.log-in-text-field {
  width: 100%;
}

.log-in-form-button {
  width: calc(100% - 28px);
  margin: 5px 14px !important;
  padding: 12px 0px !important;
  font-weight: bold !important;
}

.log-in-error-message {
  margin: 15px;
}

.log-in-logo {
  background: url(../assets//manga_freedom.png);
  background-repeat: no-repeat;
  background-size: auto;
  height: 80px;
  width: 100%;
  background-position: bottom;
}
