.search-bar-container {
  width: 100%;
  min-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 0px 15px;
}
.search-bar-field {
  width: 100%;
  height: fit-content;
  margin-top: 20px;
}
.search-bar-recent-search-box {
  width: 100%;
  height: 20px;
  text-align: left;
  display: flex;
  padding-top: 2px;
}
.search-bar-recent-search {
  padding-right: 10px;
  font-weight: bold;
  font-size: 15px;
  color: inherit;
}
