.link-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  background-color: lightskyblue;
}
.link-button-picture {
  background-color: azure;
  flex-shrink: 1;
  width: 80px;
  height: 80px;
  margin-top: 10%;
  margin-left: 10px;
  margin-right: 10px;
}
.link-button-message {
  width: 85px;
  height: 3.125rem;
  text-align: center;
  background-color: darkgreen;
}
