.product-card-container {
  height: 310px;
  width: 218px;
  margin: 10px;
}
.product-card-action-area {
  height: 75%;
  display: flex;
  flex: row;
  overflow: hidden;
}
.product-card-image {
  width: 100%;
  height: 100%;
  object-fit: fill !important;
  transition: 0.3s;
}
.product-card-image:hover {
  transform: scale(1.2);
}
.product-card-content {
  padding: 5px 10px 0px 10px !important;
  text-align: left;
}
.product-card-description {
  height: 35px;
}
.product-card-actions {
  padding: 0px 5px !important;
  height: 30px;
}
.product-card-favorite-icon {
  margin-left: auto !important;
  margin-right: 0px !important;
}
.product-card-title {
  height: 17px;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  text-overflow: ellipsis;
  font-size: 0.8rem !important;
  line-height: 1.3 !important;
  font-weight: bold;
}
.product-card-chapter {
  font-size: 12px;
}
.overlay-image:hover {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
