.App {
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#content-layout {
  width: 100%;
  /* height: calc(100% - 105px); */
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}
